@import "src/assets/styles/variables";

.box {
  padding: 50px;
  margin: 20px;
  color: white;
  transition: 0.3s;
}

.boxName {
  font-size: 26px;
}

.red {
  background-color: $red;

  &:hover {
    background-color: $red-dark;
  }
}

.green {
  background-color: $green;

  &:hover {
    background-color: $green-dark;
  }
}

.orange {
  background-color: $orange;

  &:hover {
    background-color: $orange-dark;
  }
}

@media only screen and (max-width: 500px) {
  .box {
    padding: 30px;
  }
}
