$violet: #46178f;
$violet-dark: #25076b;
$blue: #1368ce;
$blue-dark: #0542b9;
$red: #e21b3c;
$red-dark: #c60929;
$green: #26890c;
$green-dark: #106b03;
$orange: #eb670f;
$orange-dark: #db3c00;

$gray: #c8c8c8;
